@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.Core
@model IndexViewModel

@using (Html.BeginForm("Items", "Cart", FormMethod.Get, new {@class="form-inline"}))
    {
        <div class="mx-auto p-4">
            Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {@class="form-control"})
            <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
        
        @Html.DropDownList("type", ViewBag.Types as SelectList, "All",new {@class = "form-control"})
            <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
            </div>
    }
    <div id="modDialog" class="modal fade" >
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            @foreach (var item in Model.Items)
                            {
                                <div class="col">
                                    <div class="card h-100 shadow-sm">    <img src="@("~/image/" + @item.ImageName)" asp-append-version="true" style=" max-width: 100%;   height: auto;"  class="card-img-top" alt="..." >
                                        <div class="card-body">
                                            <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">@item.Name</span> <br/>
                                                <span class="float-end price-hp">@item.Price₽</span> </div>
                                            <p class="card-title">@item.Type.Type </p>
                                            <div class="text-center my-4"> <a class="btn btn-warning"  asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id"  >Add to cart</a> </div>
                                            @Html.ActionLink("Details", "Details", 
                                                            new { id = item.Id }, new { @class = "compItem" })
                                        </div>
                                    </div>
                                </div>
                            }
        </div>
    </div>
</main>

@section scripts
{
    <script type="text/javascript">
 
        $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {
 
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>

}

Page @(Model.Items.PageCount < Model.Items.PageNumber ? 0 : Model.Items.PageNumber) of @Model.Items.PageCount
    
@Html.PagedListPager(Model.Items, page => Url.Action("Items", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
