@model UserViewModel
<h2>@Localizer["User list"]</h2>
<div id="modDialog" class="modal fade" >
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<table class="table">
    <tr>
        <th scope="col">User</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                @Html.ActionLink("Edit role", "EditRole",
                    new {userId = user.Id}, new {@class = "compItem"})
            </td>
            <td>
                @Html.ActionLink("Edit user", "EditUser",
                    new {userId = user.Id}, new {@class = "compItem"})
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveUser", 
                    new { id = user.Id, name = user.Name }, new { @class = "compItem" })
            </td>
             <td>
                 @Html.ActionLink("Change password", "ChangePassword", 
                     new { id = user.Id}, new { @class = "compItem" })
                 </td>
        </tr>
    }
  
</table>
@section scripts
{
    <script>
     $(function () {
                $.ajaxSetup({ cache: false });
               $(".compItem").click(function (e) {
     
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
       <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
       <script type="text/javascript">
           function OnComplete() {
               $("#exampleModal").modal("hide");
           }
       </script>
    

}